[submodule "YAGE/vendor/spdlog"]
	path = YAGE/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "YAGE/vendor/imgui"]
	path = YAGE/vendor/imgui
	url = https://github.com/ocornut/imgui.git
